/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section {
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

h2 {
    text-align: center;
}

/* Estilos del formulario */
.formulario {
    margin-top: 20px;
}

legend {
    font-weight: bold;
}

.contenedor-campos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.campo {
    flex: 1 1 45%; /* Distribución de espacio para los campos */
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.input-text,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilos para el botón de enviar */
.boton {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.boton:hover {
    background-color: #45a049;
}

/* Estilos de alineación */
.alinear-derecha {
    text-align: right;
}

/* Estilos para dispositivos pequeños */
@media screen and (max-width: 600px) {
    .campo {
        flex: 1 1 100%; /* Mostrar los campos en una sola columna en dispositivos pequeños */
    }
}
